streamlit>=1.35.0
pandas>=2.2.2
numpy>=1.26.4

requests>=2.32.3

plotly>=5.22.0

pymupdf>=1.24.9
pypdf>=4.2.0

python-dotenv>=1.0.1

sqlalchemy>=2.0.31

matplotlib>=3.9.0

scikit-learn>=1.5.1

openpyxl>=3.1.5

python-docx>=1.1.2

tabulate>=0.9.0